# .github/workflows/on-issue-create.yml
name: Issue Created Trigger

on:
  issues:
    types: [opened]

jobs:
  trigger-repo-b:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Github Actions
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.PAT }}
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: 'pranav0963',
              repo: 'Triggering_Github_Actions',
              event_type: 'issue-created',
              client_payload: {
                title: context.payload.issue.title,
                body: context.payload.issue.body,
                issue_number: context.payload.issue.number,
                repo: context.payload.repository.full_name
              }
            })
